* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(assets/bg.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #121214;
}

header {
    display: flex;
    justify-content: center;
    margin: 32px auto;
    animation: fromTop .7s backwards .3s
}

header div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    text-align: center;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    padding: 4px;
    border-radius: 50%;
}

main {
    display: grid;
    gap: 24px;
    margin-bottom: 63px;
}

section {
    max-width: 520px;
    width: 90%;
    margin: auto;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    border-radius: 10px;
}

section:nth-child(1) {
    animation: fromLeft .7s backwards .3s;
}

section:nth-child(2) {
    animation: fromRight .7s backwards .6s;
}

section:nth-child(3) {
    animation: fromLeft .7s backwards .9s;
}

section div {
    background-color: #262629;
    padding: 24px 32px 32px;
    border-radius: 7px;
    margin-top: 4px;
}

section h2 {
    color: #FFFFFF;
    line-height: 160%;
}

section p {
    color: #C1C1C1;
    line-height: 160%;
    letter-spacing: -0.18px;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

section img {
    width: 100px;
    height: 150px;
    border: 1px solid #555555;
    border-radius: 8px;
}

@keyframes fromTop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        transform: translateX(-60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    from {
        transform: translateX(60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}